@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.Popup{
    position: fixed;
    top:-140px;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 3;
    display: none;
}
.contentBoxP{
    position: relative;
    width: 500%;
    height: none;
    background: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

