.containerMision{
    margin-top: 0px;
    width: 100%;
    height: 100% ;
    background-color: #131c46;
    margin-bottom: 0;
    
}
.containerMision .boxMision{
    position: relative;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 290px;
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: 0.5s;
    display: flex;
}
.containerMision .boxMision::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 20px solid #AA9255;
    border-left: 20px solid #AA9255;
    box-sizing: border-box;
    display: flex;

}
.containerMision .boxMision::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom: 20px solid #AA9255;
    border-right: 20px solid #AA9255;
    box-sizing: border-box;
    display: flex;

}
.containerMision .textMision{
    position: absolute;
    top: 30px;
    left: -30px;
    background: #2f2c79;
    width: calc(100% + 60px);
    height: calc(100% - 60px);
    transition: 0.5s;
    display: flex;
}
.containerMision .textMision .contentMision{
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    transform: translate3d(-50%);
    padding: 20px 80px;
    box-sizing: border-box;
    text-align: justify;
}
.textMision .contentMision .tituloMision{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.textMision .contentMision .textoM{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    text-align: justify;
    font-size: 11px;
}
@media (max-width: 1000px){
    .containerMision .boxMision{
        position: relative;
        top: 150px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 270px;
        transform-style: preserve-3d;
        perspective: 2000px;
        transition: 0.5s;
        display: flex;
    }
    .containerMision .boxMision::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        border-top: 20px solid #AA9255;
        border-left: 20px solid #AA9255;
        box-sizing: border-box;
        display: flex;
    
    }
    .containerMision .boxMision::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        border-bottom: 20px solid #AA9255;
        border-right: 20px solid #AA9255;
        box-sizing: border-box;
        display: flex;
    
    }
    .containerMision .textMision{
        position: absolute;
        top: 30px;
        left: -30px;
        background: #2f2c79;
        width: calc(100% + 50px);
        height: calc(100% - 60px);
        transition: 0.5s;
        display: flex;
    }
    .containerMision .textMision .contentMision{
        position: absolute;
        top: 5%;
        left: 0;
        width: 100%;
        transform: translate3d(-50%);
        padding: 10px 60px;
        box-sizing: border-box;
        text-align: justify;
    }
    .textMision .contentMision .tituloMision{
        margin: 0 0 10px;
        padding: 0;
        color: #fff;
        text-align: center;
    }
    .textMision .contentMision .textoM{
        margin: 0 0 10px;
        padding: 0;
        color: #fff;
        text-align: justify;
        font-size: 7.5px;
    }
}


