.aCS{
    background: #131c46;
    color: #fff;
    border:none;
    box-shadow: none;
    padding: 10px 15px;
    margin-top: 5px;
    font-size: 1vw;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
    cursor: pointer;
}

