
.containerCard{
    position: relative;
    padding-top: -1000px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.containerCard .cardC1{
    position: relative;
    width: 250px;
    height: 250px;
    margin: 5px 0px;
    display:  flex;
    justify-content: center;
    align-items: center;
    background: #AA9255;
    box-shadow:0 10px 25px rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}
.containerCard .cardC1 .imgBoxC1{
    margin-top: -60px;
    position: relative;
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.3s ease-in-out;
}
.containerCard .cardC1:hover .imgBoxC1{
    transform: translateY(-25px);
    justify-content: center;
}
.containerCard .cardC1 .imgBoxC1 .imgC1 {
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.3s ease-in-out;
    justify-content: center;
}
.containerCard .cardC1:hover .imgBoxC1 .tamanio{
    color: white;
}
.content .cardC2 .contentC2{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;

}

.containerCard .cardC1 .contentC1 .a0{
    top: 105%;
    border-top-left-radius: 100px;    
    display: inline-block;
    padding: 12px 30px;
    background: white;
    border-radius: 40px;
    font-weight:600;
    letter-spacing: 1px;
    color: #111 !important;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 0%;
}
.containerCard .cardC1 .contentC1 .sizeC1 .a0{
    margin-top: 150px;
    margin-left: -155px;
}
.logoUEN{
    height: 100px;
    width: 100px;
}
.logoArmada{
    height: 100px;
    width: 100px;
}
.containerCard .cardC2{
    position: relative;
    width: 280px;
    height: 300px;
    margin: 5px 0px;
    display:  flex;
    justify-content: center;
    align-items: center;
    background: #011432;
    box-shadow:0 10px 25px rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.containerCard .cardC3{
    margin-left: 0;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 5px 0px;
    display:  flex;
    justify-content: center;
    align-items: center;
    background: #AA9255;
    box-shadow:0 10px 25px rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}
.containerCard .cardC3 .imgBoxC3{
    margin-top: -25px;
    position: relative;
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.3s ease-in-out;
}
.containerCard .cardC3:hover .imgBoxC3{
    transform: translateY(-40px);
    justify-content: center;
}
.containerCard .cardC3 .imgBoxC3 .imgC3{
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.3s ease-in-out;
    justify-content: center;
}
.containerCard .cardC3:hover .imgBoxC3 h2{
    color: white;
}
.content .cardC3 .content3{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.containerCard .cardC3 .contentC3 .a2{
    top: 105%;
    border-top-left-radius: 100px;    
    display: inline-block;
    padding: 12px 30px;
    background: white;
    border-radius: 40px;
    font-weight:600;
    letter-spacing: 1px;
    color: #111 !important;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 0%;
}
.containerCard .cardC3 .contentC3 .sizeC3 .a2{
    margin-top: 150px;
    margin-left: -160px;
}
.letra{
    color: white;
}
.tamanio{
    font-size: 1.6rem;
}
.top{
    margin-top: 10px;
}
.post{
    border-bottom: 1px solid #000;
    font-size: xx-small;
}
.escuela{
    height: 200px;
    width: 200px;
}
.texto{
    color: white;
    align-items: center;
    justify-content: center;
    align-items: center;

}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  