.Navbar {
  background:#252440 !important;
    text-align: center;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    font-size: 0.7rem;
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.Navbar .active{
  background:#252440 !important;
}

.Navbar-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
body .bg-dark {
  background-color:transparent !important;
  }
.NavDropdown{
  background-color:#252440  !important;
  color: white !important;
}
.dropdown-menu.show{
  background-color:#252440 !important;
}
.Color{
  background-color:#252440 !important;
  color: white !important;
}
font{
  color: white !important;
  text-decoration: none !important;
}

.logo{
  width: 40px;
  height: 40px;
}
a {
  color: white !important;
  text-decoration: none !important;
}
a:link, a:visited, a:active {
  text-decoration:none !important;
}
.nav-item {
  line-height: 30px;
  margin-right: 1rem;
  padding: 1px;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
  padding: 1px;
}

.nav-item:hover:after {
  width: 100%;
  background: white;
  padding: 1px;
}

.nav-item .active {
  color: white;
  padding: 1px;
}
.texto {
  font-size: 0.7rem;
  
}
.nav-link{
  padding: 1px;
}
@media screen and (max-width: 960px) {
  .Navbar {
    background:#252440 !important;
      text-align: center;
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: flex-end;
      font-size: 0.7rem;
      position: sticky;
      top: 0;
      z-index: 999;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  .Navbar .active{
    background:#252440 !important;
  }
  
  .Navbar-logo {
      height: 40vmin;
      pointer-events: none;
    }
    
  @media (prefers-reduced-motion: no-preference) {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    }
    
  
  @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  body .bg-dark {
    background-color:transparent !important;
    }
  .NavDropdown{
    background-color:#252440  !important;
    color: white !important;
  }
  .dropdown-menu.show{
    background-color:#252440 !important;
  }
  .Color{
    background-color:#252440 !important;
    color: white !important;
  }
  font{
    color: white !important;
    text-decoration: none !important;
  }
  
  .logo{
    width: 40px;
    height: 40px;
  }
  a {
    color: white !important;
    text-decoration: none !important;
  }
  a:link, a:visited, a:active {
    text-decoration:none !important;
  }
  .nav-item {
    line-height: 30px;
    margin-right: 1rem;
    padding: 1px;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
    padding: 1px;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: white;
    padding: 1px;
  }
  
  .nav-item .active {
    color: white;
    padding: 1px;
  }
  .texto {
    font-size: 0.7rem;
    
  }
  .nav-link{
    padding: 1px;
  }

}