.navbar {
  transition: background 1s;
  font-size: 1.1rem;
  color: #fff !important;
  text-decoration: none;
}
.color {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-style: unset;
  font-weight: 600;
  color: #fff !important;
}
.logo {
  width: 45px;
}
.logoArmada{
  position: relative;
  width: 50px;
  height: 60px;
  left: 590%;
}
.dropdown {
  position: relative;

}
.dropdown div {
  background: #252440;
}
.dropdown div a:hover {
  background: #252440;
}
.sticky {
  position: sticky !important;
}
.nav-link{
  color: #fff !important;
  text-decoration: none;
}

