.navbar {
  transition: background 1s;
}
.logo {
  width: 45px;
}
.dropdown {
  position: relative;
}
.dropdown div {
  background: #252440;
}
.dropdown div a:hover {
  background: #252440;
}
.sticky {
  position: sticky !important;
}

