@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.containerTarj{
    position: relative;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.containerTarj .cardTarj{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}
.containerTarj .cardTarj .imgBxTarj{
    position: relative;
    left: 25px;
    width: 400px;
    height: 300px;
    
}
.containerTarj .cardTarj .imgBxTarj .imgTarj{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.containerTarj .cardTarj .contentBxTarj{
    position: relative;
    right: 25px;
    width: 400px;
    height: 300px;
    background: #011432;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 20px 100px;
}
.containerTarj .cardTarj .contentBxTarj::before{
    content: '';
    position: absolute;
    top:-50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: #011432;
    z-index: -1;
}
.containerTarj .cardTarj .contentBxTarj .h2T{
    font-size: 30px;
    color: #fff;
}
.containerTarj .cardTarj .contentBxTarj .pT{
    margin-top: 10px;
    color: #fff;
    font-size: 10px;
    text-align: justify;
}
@media (max-width: 1000px){
    .containerTarj .cardTarj{
        flex-direction: column;
        max-width: 350px;
    }
    .containerTarj .cardTarj .imgBxTarj{
        width: 100%;
        height: 250px;
        left: 0;
    }
    .containerTarj .cardTarj .contentBxTarj{
        width: 100%;
        height: auto;
        right: 0;
        padding: 30px;
        text-align: center;
    }
    .containerTarj .cardTarj .contentBxTarj::before{
        top: 0;
        bottom: 0;
    }
}
